
// Body
$body-bg: #f8fafc;

// Typography
$font-Light: 'Roboto', sans-serif;
$font-Regular: 'Roboto', sans-serif;
$font-Semi: 'Roboto', sans-serif;
$font-Med: 'Roboto', sans-serif;
$font-Bold: 'Roboto', sans-serif;
$font-ExtraBold: 'Roboto', sans-serif;

// Colors
$white: #FFFFFF;
$black: #000000;
$gold: #e2f531;
$green: #3d8705;
$cyan: #00B0AD;
$green: #2C5856;
$orange: #F36E21;
$purple: #78578E;
$pago: #AAABBB